.attention-panel {
    padding: 6px 6px;
}

.attention-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: xx-small;
    text-align: center;
}

.attention-icon {}

.group-panel {
    display: flex;
    flex-flow: column;
    flex: 2;
    margin: 0 10px;
}

.price-lasted {
    flex: 1;
}

.price-rise-fall {
    flex: 1;
}

.group-options {
    display: flex;
    flex-flow: column;
    position: relative;
    top: 0%;
    align-self: baseline;
}