.attention-panel {
    padding: 6px 6px;
}

.attention-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

.group-panel {
    display: flex;
    flex-flow: column;
    flex: 2;
    margin: 0 10px;
    max-width: 100px;
}

.price-lasted {
    flex: 1;
}

.price-rise-fall {
    flex: 1;
}

.price-lasted, .price-rise-fall {
    font-size: xx-small;
    user-select: none;
}

.group-options {
    display: flex;
    flex-flow: column;
    position: relative;
    top: 0%;
    border: 1px solid;
    border-top: hidden;
    max-height: 120px;
    overflow: hidden auto;
}

.group-option {
    border-bottom: hidden;
}

.group-item {
    display: flex;
    align-items: center;
    margin: 1px 0px;
}

.group-item:hover {
    background-color: darkgray;
}

.group-tool {
    display: flex;
    flex: 6;
    align-items: center;
}

.group-name {
    flex: 5;
    font-size: xx-small;
    text-align: left;
    padding: 4px 0px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 45px;
    user-select: none;
}

.group-sort {
    flex: 1;
    padding: 3px 0px;
}

.group-edit, .group-confirm {
    flex: 1;
    padding: 4px 0px;
}

.group-edit svg {
    padding: 3px 0px;
}

.group-del, .group-cancel {
    flex: 1;
    padding: 3px 2px 3px 0px;
}

.group-del svg {
    padding: 2px 0px;
}