nav {
    display: flex;
    flex-flow: column;
    max-width: 60px;
    overflow: auto;
    position: fixed;
    left: 5%;
    bottom: 5%;
    /* border: 1px solid black; */
}

.nav-group{
    display: flex;
    order: 0;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.nav-xs {
    width: 15px;
}

.nav-sm {
    width: 30px;
}

.nav-md {
    width: 45px;
}

.nav-lg {
    width: 60px;
}

.nav-item{
    width: 90%;
    display: flex;
    flex: 0 0 auto;
}

.nav-item img{
    width: 80%;
    height: 80%;
    border: 1px solid black;
}

.nav-item a{
    text-decoration: none;
    text-align: center;
}

.nav-bar{
    border-radius: 50%;
    /* border: 1px solid black; */
}