.landing-panel {
    display: flex;
    flex-flow: column;
    /* height: 100%; */
}

.landing-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 2px;
}

.landing-body {
    flex: 1;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-footer {
    flex: 1;
    padding: 2px;
}

.landing-tab {
    padding: 5px 10px;
    cursor: pointer;
}