@import url('../normal.css');
@import url('../flex.css');
.network {
    padding: 10px 5px;
}

.network>.panel {
    padding: 2px;
}

.network .addrbook {
    flex: 33;
}

.network .chat {
    flex: 99;
}

.network .divider {
    flex: 1;
    margin: 3px;
    border-left: 3px solid saddlebrown;
}

.inputbox-footer {
    justify-content: space-between;
}

.inputbox-menu {
    justify-content: space-around;
}

.inputbox-menu-item {
    padding: 3px;
}